In [1]:
import pandas as pd
import pyodide

/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

## 1-1 行と列の概念

In [ ]:
import pandas as pd
import pyodide
data = pd.read_csv(pyodide.open_url('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv'))
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [ ]:
data.shape

(150, 5)

In [ ]:
data["sepal_width"]

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

実習：データののspecies列をとってください

In [ ]:
data[["petal_length","sepal_length"]]

     petal_length  sepal_length
0             1.4           5.1
1             1.4           4.9
2             1.3           4.7
3             1.5           4.6
4             1.4           5.0
..            ...           ...
145           5.2           6.7
146           5.0           6.3
147           5.2           6.5
148           5.4           6.2
149           5.1           5.9

[150 rows x 2 columns]

実習：データの列の順番を"species","sepal_width","petal_width","sepal_length","petal_length"に変えてください

In [ ]:
data2 = data.copy()
data2.columns = ["がく片の長さ","がく片の広さ","花びらの長さ","花びらの広さ","種類"]
data2.head()

実習：データををdata2という名前でコピーし、、data2の列名を["A","B","C","D","E"]に変えてください

## 1-2 データの部分集合

In [ ]:
data.iloc[0,:]

sepal_length       4.9
sepal_width        3.0
petal_length       1.4
petal_width        0.2
species         setosa
Name: 1, dtype: object

In [ ]:
data.iloc[:,2]

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal_length, Length: 150, dtype: float64

実習：データの3から５行目、２列から５列までをとってください

## 1-3 データの置き換え

In [ ]:
data2 = data.copy()
data2["NEW"] = 1
data2.head()

   sepal_length  sepal_width  petal_length  petal_width species  NEW
0           5.1          3.5           1.4          0.2  setosa    1
1           4.9          3.0           1.4          0.2  setosa    1
2           4.7          3.2           1.3          0.2  setosa    1
3           4.6          3.1           1.5          0.2  setosa    1
4           5.0          3.6           1.4          0.2  setosa    1

In [ ]:
data2 = data.copy()
data2["sepal_width"] = -100
data2.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1         -100           1.4          0.2  setosa
1           4.9         -100           1.4          0.2  setosa
2           4.7         -100           1.3          0.2  setosa
3           4.6         -100           1.5          0.2  setosa
4           5.0         -100           1.4          0.2  setosa

実習：データををdata2という名前でコピーし、data2に新しい列"A"を追加してください。"A"列の全ての値は文字列"abcd"にしてください

In [ ]:
data2 = data.copy()
data2["petal_width100"] = data2["petal_width"]*100
data2.head()

,sepal_length,sepal_width,petal_length,petal_width,species,petal_width100
0,5.1,3.5,1.4,0.2,setosa,20.0
1,4.9,3.0,1.4,0.2,setosa,20.0
2,4.7,3.2,1.3,0.2,setosa,20.0
3,4.6,3.1,1.5,0.2,setosa,20.0
4,5.0,3.6,1.4,0.2,setosa,20.0

In [ ]:
import numpy as np

data2 = data.copy()
data2["sepal_length_log"] = np.log(data2["sepal_length"])
data2.head()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length_log
0,5.1,3.5,1.4,0.2,setosa,1.629241
1,4.9,3.0,1.4,0.2,setosa,1.589235
2,4.7,3.2,1.3,0.2,setosa,1.547563
3,4.6,3.1,1.5,0.2,setosa,1.526056
4,5.0,3.6,1.4,0.2,setosa,1.609438

0            せとさ
1            せとさ
2            せとさ
3            せとさ
4            せとさ
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

実習：データをdata2という名前でコピーし、data2の"sepal_width"列にnp.sin()関数を適用して"sepal_width_sin"という名前の列で追加してください

In [ ]:
d = {"あ":"A"}
d["あ"]

'A'

In [ ]:
d = {"あ":"A","い":"I","う":"U","え":"E","お":"O"}
print(d["あ"],d["い"],d["う"],d["え"],d["お"])

A I U E O

In [ ]:
print(data["species"].unique())
data["species"].replace({"setosa":"せとさ","versicolor":"ばーしからー","virginica":"ばーじにか"})

['setosa' 'versicolor' 'virginica']

0        せとさ
1        せとさ
2        せとさ
3        せとさ
4        せとさ
       ...
145    ばーじにか
146    ばーじにか
147    ばーじにか
148    ばーじにか
149    ばーじにか
Name: species, Length: 150, dtype: object

In [ ]:
data2 = data.copy()
data2["species"] = data2["species"].replace({"setosa":"せとさ","versicolor":"ばーしからー","virginica":"ばーじにか"})
data2.head()

実習：データをdata2という名前でコピーし、、data2の"species"列の値を置き換えてください。"setosa"は"S"、"versicolor"は"C","virginica"は"V"に置き換えてください

## 2 実習：CPSデータ

In [ ]:
data = pd.read_csv(pyodide.open_url("https://raw.githubusercontent.com/ChungWookyung/kg-jupyterlite-data-analysis/main/content/DATA/CPS1988.csv"))
data.head()

     wage  education  experience ethnicity smsa     region parttime
0  354.94          7          45      cauc  yes  northeast       no
1  123.46         12           1      cauc  yes  northeast      yes
2  370.37          9           9      cauc  yes  northeast       no
3  754.94         11          46      cauc  yes  northeast       no
4  593.54         12          36      cauc  yes  northeast       no

In [ ]:
data["region"].unique()

array(['northeast', 'midwest', 'south', 'west'], dtype=object)

実習：データをdata2という名前にコピーしてください。次に、data2の列名を日本語に置き換えてください(smsaは"都心部"という日本語で訳してください)

実習：データををdata2という名前にコピーしてください。次に、data2の"wage"列にnp.log()関数を適用し、"wage_log"という新しい列でセーブしてください

実習：データををdata2という名前にコピーしてください。次に、data2の"ethnicity"における、"cauc"の値を"白人"に、"afam"の値を"黒人"に置き換えてください

実習：データををdata2という名前にコピーしてください。次に、data2の"smsa"列と"parttime"列の値を"yes"は"はい"で、"no"は"いいえ"で置き換えてください

実習：データををdata2という名前にコピーしてください。次に、data2の"region"列の値を日本語に翻訳して置き換えてください

## 3-1 Datetime形式

In [ ]:
pd.date_range(start="2000/01/01", end="2030/01/01")

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10',
               ...
               '2029-12-23', '2029-12-24', '2029-12-25', '2029-12-26',
               '2029-12-27', '2029-12-28', '2029-12-29', '2029-12-30',
               '2029-12-31', '2030-01-01'],
              dtype='datetime64[ns]', length=10959, freq='D')

In [ ]:
pd.date_range(start="2000/01/01", periods=365)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10',
               ...
               '2000-12-21', '2000-12-22', '2000-12-23', '2000-12-24',
               '2000-12-25', '2000-12-26', '2000-12-27', '2000-12-28',
               '2000-12-29', '2000-12-30'],
              dtype='datetime64[ns]', length=365, freq='D')

In [ ]:
pd.date_range(start="2000/01/01", periods=12, freq="M")

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31'],
              dtype='datetime64[ns]', freq='M')

In [ ]:
pd.date_range(start="2000/01/01", periods=10, freq="Y")

DatetimeIndex(['2000-12-31', '2001-12-31', '2002-12-31', '2003-12-31',
               '2004-12-31', '2005-12-31', '2006-12-31', '2007-12-31',
               '2008-12-31', '2009-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [ ]:
pd.date_range(start="2000/01/01", periods=12, freq="MS")

DatetimeIndex(['2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01',
               '2000-05-01', '2000-06-01', '2000-07-01', '2000-08-01',
               '2000-09-01', '2000-10-01', '2000-11-01', '2000-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [ ]:
pd.date_range(start="2000/01/01", periods=10, freq="YS")

DatetimeIndex(['2000-01-01', '2001-01-01', '2002-01-01', '2003-01-01',
               '2004-01-01', '2005-01-01', '2006-01-01', '2007-01-01',
               '2008-01-01', '2009-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

実習：2010年6月1日から今日まで、毎日のdatetimeを生成してください

実習：あなたの誕生日から20年間まで、毎月のdatetimeを生成してください

実習：1990年3月1日から今年まで、毎年のdatetimeを生成してください。その時、毎年の1月1日が基準になります。

## 3-2 文字列への変換

In [ ]:
d = pd.date_range(start="2000/01/01", end="2030/01/01")
d.year

Int64Index([2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000,
            ...
            2029, 2029, 2029, 2029, 2029, 2029, 2029, 2029, 2029, 2030],
           dtype='int64', length=10959)

In [ ]:
d.month

Int64Index([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
            ...
            12, 12, 12, 12, 12, 12, 12, 12, 12,  1],
           dtype='int64', length=10959)

In [ ]:
d.day

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10,
            ...
            23, 24, 25, 26, 27, 28, 29, 30, 31,  1],
           dtype='int64', length=10959)

In [ ]:
data = pd.DataFrame({"Date":d,"Value":1})
data.head()

        Date  Value
0 2000-01-01      1
1 2000-01-02      1
2 2000-01-03      1
3 2000-01-04      1
4 2000-01-05      1

In [ ]:
pd.DatetimeIndex(data["Date"]).year

Int64Index([2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000,
            ...
            2029, 2029, 2029, 2029, 2029, 2029, 2029, 2029, 2029, 2030],
           dtype='int64', name='Date', length=10959)

In [ ]:
data["Year"] = pd.DatetimeIndex(data["Date"]).year
data.head()

        Date  Value  Year
0 2000-01-01      1  2000
1 2000-01-02      1  2000
2 2000-01-03      1  2000
3 2000-01-04      1  2000
4 2000-01-05      1  2000

実習：データに"Month"という列を追加し、"Date"列における月を入力してください

実習：データに"Day"という列を追加し、"Date"列における日を入力してください

In [ ]:
pd.DatetimeIndex(data["Date"]).strftime("%Y")

Index(['2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000',
       '2000',
       ...
       '2029', '2029', '2029', '2029', '2029', '2029', '2029', '2029', '2029',
       '2030'],
      dtype='object', name='Date', length=10959)

In [ ]:
pd.DatetimeIndex(data["Date"]).strftime("%Y年%m月%d日")

Index(['2000年01月01日', '2000年01月02日', '2000年01月03日', '2000年01月04日',
       '2000年01月05日', '2000年01月06日', '2000年01月07日', '2000年01月08日',
       '2000年01月09日', '2000年01月10日',
       ...
       '2029年12月23日', '2029年12月24日', '2029年12月25日', '2029年12月26日',
       '2029年12月27日', '2029年12月28日', '2029年12月29日', '2029年12月30日',
       '2029年12月31日', '2030年01月01日'],
      dtype='object', name='Date', length=10959)

In [ ]:
data["JPN_Date"] = pd.DatetimeIndex(data["Date"]).strftime("%Y年%m月%d日")
data.head()

        Date  Value  Year     JPN_Date
0 2000-01-01      1  2000  2000年01月01日
1 2000-01-02      1  2000  2000年01月02日
2 2000-01-03      1  2000  2000年01月03日
3 2000-01-04      1  2000  2000年01月04日
4 2000-01-05      1  2000  2000年01月05日

実習：データに"Date_New"列を追加し、日付を日/月/年に変換した文字列を入力してください。例えば、2022年6月13日は"13/06/2022"になります

## 4 株価指数データ

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/ChungWookyung/kg-jupyterlite-data-analysis/main/content/DATA/nikkei.csv")
data["DATE"] = pd.DatetimeIndex(data["DATE"])
data.head()

        DATE  NIKKEI225
0 1981-01-05    7150.95
1 1981-01-06    7137.59
2 1981-01-07    7200.77
3 1981-01-08    7222.14
4 1981-01-09    7248.13

実習：データにYEAR,MONTH,DAY列を追加し、追加し、DATE列の年、月、日を入力してください

実習：データにDATE_JPN列を追加し、日本語で表記された日付を入力してください

In [ ]:
data["WEEKDAY"] = pd.DatetimeIndex(data["DATE"]).weekday
data.groupby("WEEKDAY").mean()

            NIKKEI225
WEEKDAY
0        16729.709744
1        16739.991466
2        16744.390337
3        16744.771380
4        16731.840953

実習：groupby()を用いて、データの年別と月別の平均を求めてください

## 5-1 文字列の一括処理

In [64]:
data = pd.DataFrame({"col1":["A","A","A","A","A"],"col2":"B"})
data.head()

  col1 col2
0    A    B
1    A    B
2    A    B
3    A    B
4    A    B

In [65]:
data["col1"] + "1"

0    A1
1    A1
2    A1
3    A1
4    A1
Name: col1, dtype: object

In [66]:
"a" + data["col1"]

0    aA
1    aA
2    aA
3    aA
4    aA
Name: col1, dtype: object

In [67]:
data["col1"] + data["col2"]

0    AB
1    AB
2    AB
3    AB
4    AB
dtype: object

In [68]:
data2 = data.copy()
data2["col3"] = data2["col1"] + "1"
data2["col4"] = "a" + data2["col1"]
data2["col5"] = data2["col1"] + data2["col2"]
data2.head()

  col1 col2 col3 col4 col5
0    A    B   A1   aA   AB
1    A    B   A1   aA   AB
2    A    B   A1   aA   AB
3    A    B   A1   aA   AB
4    A    B   A1   aA   AB

実習：データをdata2という名前でコピーし、data2に文字列の一括処理を使った新しい列を３つ追加してください

## 5-2 split()の活用

In [70]:
data = pd.read_csv("https://raw.githubusercontent.com/ChungWookyung/kg-jupyterlite-data-analysis/main/content/DATA/nikkei.csv")
data.head()

         DATE  NIKKEI225
0  1981-01-05    7150.95
1  1981-01-06    7137.59
2  1981-01-07    7200.77
3  1981-01-08    7222.14
4  1981-01-09    7248.13

In [77]:
data["DATE"].str[0:4]

0        1981
1        1981
2        1981
3        1981
4        1981
         ...
10260    2022
10261    2022
10262    2022
10263    2022
10264    2022
Name: DATE, Length: 10265, dtype: object

In [79]:
data["DATE"].str[5:7]

0        01
1        01
2        01
3        01
4        01
         ..
10260    06
10261    06
10262    06
10263    06
10264    06
Name: DATE, Length: 10265, dtype: object

In [81]:
data["DATE"].str[8:10]

0        05
1        06
2        07
3        08
4        09
         ..
10260    06
10261    07
10262    08
10263    09
10264    10
Name: DATE, Length: 10265, dtype: object

実習：.strを使って、データに"YEAR","MONTH","DAY"という三つの新しい列を追加してください。各列の値は年と月と日を入力してください

In [75]:
data["DATE"].str.split("-",expand=True)

          0   1   2
0      1981  01  05
1      1981  01  06
2      1981  01  07
3      1981  01  08
4      1981  01  09
...     ...  ..  ..
10260  2022  06  06
10261  2022  06  07
10262  2022  06  08
10263  2022  06  09
10264  2022  06  10

[10265 rows x 3 columns]

In [83]:
d = data["DATE"].str.split("-",expand=True)
d[0].head()

0    01
1    01
2    01
3    01
4    01
Name: 1, dtype: object

In [84]:
d = data["DATE"].str.split("-",expand=True)
d[1].head()

0    01
1    01
2    01
3    01
4    01
Name: 1, dtype: object

In [85]:
d = data["DATE"].str.split("-",expand=True)
d[2].head()

0    05
1    06
2    07
3    08
4    09
Name: 2, dtype: object

実習：.str.split()を使って、データに"YEAR","MONTH","DAY"という三つの新しい列を追加してください。各列の値は年と月と日を入力してください